{% extends 'base.html.twig' %}

{% block title %}Liste des saisons {% endblock %}

{% block body %}
<style>
    .example-wrapper {font: 18px/1.5 sans-serif; background-color: #F5F5F5;}
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <form  method="get" id="form">
        <table class="table table-striped table-hover table-bordered">
            <thead class="table-dark">
                <tr>
                    <th style="text-align: center; vertical-align: middle; " >Numéro de saison</th>
                    <th style="text-align: center; vertical-align: middle;">Nombre d'épisodes/Nombre d'épisode maximum</th>
                    <th style="text-align: center; vertical-align: middle;">
                        &nbsp;
                        <button type="button" class="btn btn-success"  name="ajout" id="ajout" data-bs-toggle="modal" data-bs-target="#modal_modifier"
                        onclick="modifier()"> 
                            Ajouter une saison
                        </button>
                        <button class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#modal_supprimer"  onclick="supprimer()">Supprimer toutes les saisons</button>
                        <a class="btn btn-primary" href="{{path('gerer_serie')}}" type="button">Retour</a>
                    </th>
                    <th style="text-align: center; vertical-align: middle;" >
                        &nbsp;
                        <label for="checkall">
                            <input type="checkbox" id='checkall' name="checkall" > Tout cocher
                        </label>                       
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for uneSaison in saisons %}
                <tr>
                    <th style="text-align: center; vertical-align: middle;">{{uneSaison.number}}</th>
                    <th style="text-align: center; vertical-align: middle;"> {{uneSaison.Episodes|length}}/{{uneSaison.NbEpisode}} </th>
                    <th style="text-align: center; vertical-align: middle;">            
                        <button type="button" class="btn btn-warning"  name="{{uneSaison.id}}" id="{{uneSaison.id}}" data-bs-toggle="modal" data-bs-target="#modal_modifier" onclick="modifier('{{uneSaison.NbEpisode}}','{{uneSaison.id}}')"> 
                            Modifier
                        </button>
                        <button type="button" class="btn btn-danger"  name="sup" id="sup" data-bs-toggle="modal" data-bs-target="#modal_supprimer" onclick="supprimer('{{uneSaison.id}}')">Supprimer</button>
                        <a type="button" class="btn btn-primary" href="{{path('gerer_episode',{'id': uneSaison.id})}}">Gerer les épisodes</a>
                    </th>
                    <th style="text-align: center; vertical-align: middle;"><input type="checkbox" id='{{uneSaison.id}}' name="{{uneSaison.id}}"></th>
                </tr>
                {% endfor %}  
            </tbody>
        </table>  
</div>
<div class="modal fade" id="modal_supprimer" tabindex="-1" data-bs-keyboard="true" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="supModalLongTitle"> Suppression de la saison </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <p>Êtes-vous sur de vouloir supprimer cette saison ?</p>
                </div>     
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="modalNon">Non</button>
                    <input type="hidden" class="btn btn-danger delete"  id="modalSaison" value="Oui">
                    <input type="hidden" class="btn btn-danger delete"  id="modalSaisons" value="Oui">           
                </div>
            </div>
        </div>
    </div>
</form>
<div class="modal fade" id="modal_modifier" tabindex="-1" data-bs-keyboard="true" 
aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"> Modification de la saison </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    
                    {{form_start(formSaison)}}
                    <p>Nombre d'épisode: {{form_widget(formSaison.nb_episode)}} {{form_widget(formSaison.reset)}}</p>
                    <input id="ID" name="ID" type="hidden">
                       
                </div>                
            </div>
            <div class="modal-footer">
                {{form_widget(formSaison.Valider)}}
                <a type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="modalNon" >Non</a>
            {{form_end(formSaison)}}              
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block javascripts %}
<script>
    
    $('#checkall').change(function () {
        if($( this ).prop( "checked" )){$('input:checkbox').attr('checked','checked');} 
        else $('input:checkbox').removeAttr('checked');
    }); 

    function modifier(nbEp,id){
       
        if(id!=null){
            document.getElementById('saison_form_nb_episode').setAttribute('value', nbEp);
            document.getElementById('ID').setAttribute('value',id);    
            document.getElementById('exampleModalLongTitle').innerHTML="Modification de la saison "          
        }
        else{
            document.getElementById('saison_form_nb_episode').setAttribute('value','1');
            document.getElementById('ID').setAttribute('value','');
            document.getElementById('exampleModalLongTitle').innerHTML="Ajouter une saison"    
        }
        
    }
   

    function supprimer(Id){
        if(Id==null){
            document.getElementById('modalSaisons').type='submit';
            document.getElementById('modalSaison').type='hidden';
            document.getElementById('form').action='/supprimer_saisons';
        }
        else{
            document.getElementById('modalSaison').type='submit';
            document.getElementById('modalSaisons').type='hidden';
            document.getElementById('form').action='/supprimer_saison/'+Id;
        }
    }

</script>
{% endblock %}