{% extends 'base.html.twig' %}

{% block title %}Liste des épisodes {% endblock %}

{% block body %}
<style>
    .example-wrapper { font: 18px/1.5 sans-serif; background-color: #F5F5F5;}
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <form  method="get" id="form">
        <table class="table table-striped table-hover table-bordered">
            <thead class="table-dark">
                <tr>
                    <th style="text-align: center; vertical-align: middle; " >Nom <a class="link-primary" id="sort_nom">Default</a></th>
                    <th style="text-align: center; vertical-align: middle;">Date de diffusion <a class="link-primary" id="sort_date">Default</a></th>
                    {% if not id is defined %}
                        <th style="text-align: center; vertical-align: middle;">Serie <a class="link-primary" id="sort_serie">Default</a></th>
                    {% endif %}
                    <th style="text-align: center; vertical-align: middle;">Saison <a class="link-primary" id="sort_saison">Default</a></th>
                    <th style="text-align: center; vertical-align: middle;" >                         
                        <button type="button" class="btn btn-success"  name="ajout" id="ajout" data-bs-toggle="modal" data-bs-target="#modal_modifier"
                        onclick="modifier()"> 
                            Ajouter un épisode
                        </button>
                        <button class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#modal_supprimer"  onclick="supprimer()">Supprimer plusieurs épisodes</button>
                        {% if id is defined %}
                            <a class="btn btn-primary" href="{{path('gerer_serie')}}" type="button">Retour</a>
                        {% endif %}
                        <button type="button" class="btn btn-primary"  name="addSModal" id="addSModal" data-bs-toggle="modal" data-bs-target="#modal_episodes_add"> 
                            Ajouter plusieurs épisode
                        </button>
                    </th>
                    <th style="text-align: center; vertical-align: middle;" width="150px">
                        <label for="checkall">
                            <input type="checkbox" id='checkall' name="checkall" > Tout cocher
                        </label>                        
                    </th>
                </tr>
                <tr>
                    <th style="text-align: center; vertical-align: middle;">
                        <input type="text" id="titre" name="titre">
                    </th> 
                    <th style="text-align: center; vertical-align: middle;">
                        <input type="date" id="dateStart" name="dateStart">
                        <input type="date" id="dateEnd" name="dateEnd">
                    </th>
                    {% if not id is defined %}
                    <th style="text-align: center; vertical-align: middle;"> 
                        <select id="serieFiltre" class="form-select">
                            <option value="">Vieullez sélectionner une série</option>
                            {% for uneSerie in series %}
                            <option value="{{uneSerie.id}}">{{uneSerie.nom}}</option>
                            {% endfor %}
                        </select>
                    </th>
                    {% endif %}
                    <th style="text-align: center; vertical-align: middle;">
                        <input type="number" id="saisonFiltre" name="saisonFiltre" min="1">
                    </th>
                    <th style="text-align: center; vertical-align: middle;">
                        <button type="button" class="btn btn-secondary"  name="extract" id="extract" data-bs-toggle="modal" data-bs-target="#modal_supprimer"
                        onclick="exporter()"> 
                            Exporter un Episode
                        </button>
                    </th>
                    <th style="text-align: center; vertical-align: middle;">
                        <label class="switch">
                            <input type="checkbox" id="checkExport" name="checkExport" onclick="modExport()">
                            <span class="slider round"></span>
                        </label>
                    </th>
                </tr>
            </thead>
            <tbody id='episodes'>
                {% for unEpisode in episodes %}
                <tr>
                    <th style="text-align: center; vertical-align: middle;">{{unEpisode.nom}}</th>
                    <th style="text-align: center; vertical-align: middle;">{{unEpisode.datePremDiff|date("d/m/Y")}}</th>
                    {% if not id is defined %}
                        <th style="text-align: center; vertical-align: middle;">{{unEpisode.saison.serie.nom}}</th>
                    {% endif %}
                    <th style="text-align: center; vertical-align: middle;"> {{unEpisode.saison.numero}} </th>                 
                    <th style="text-align: center; vertical-align: middle;">
                        <button type="button" class="btn btn-warning"  name="{{unEpisode.id}}" id="{{unEpisode.id}}" data-bs-toggle="modal" data-bs-target="#modal_modifier" 
                        onclick="modifier('{{unEpisode.id}}','{{unEpisode.nom}}','{{unEpisode.datePremDiff|date("Y-m-d")}}','{{unEpisode.resume}}','{{unEpisode.saison.serie.id}}','{{unEpisode.saison.numero}}')"> 
                            Modifier
                        </button>
                        <button type="button" class="btn btn-danger"  name="sup" id="sup" data-bs-toggle="modal" data-bs-target="#modal_supprimer" onclick="supprimer('{{unEpisode.id}}')">Supprimer</button>
                    </th>
                    <th style="text-align: center; vertical-align: middle;">
                        <input type="checkbox" id='{{unEpisode.id}}' name="{{unEpisode.id}}">
                    </th>
                </tr>
                {% endfor %}   
            </tbody>
        </table>
   
        <div class="modal fade" id="modal_supprimer" tabindex="-1" data-bs-keyboard="true" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
            <div class="modal-dialog" >
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="supModalLongTitle"> Suppression de l'épisode </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <p id="pModalAutre">Êtes-vous sur de vouloir supprimer cette série ?</p>
                        </div>     
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="modalNon">Non</button>
                        <input type="submit" class="btn btn-danger delete"  id="submitAutre" value="Oui">
                        <input type="hidden" class="btn btn-danger delete"  id="type" name="type" value="episode">         
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<div class="modal fade" id="modal_modifier" tabindex="-1" data-bs-keyboard="true" 
aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"> Modification de l'épisode </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    {{form_start(formEpisode)}}
                        <p>Nom: {{form_widget(formEpisode.nom)}}</p>
                        <p>Saison: <input id="saison" type="number" name="saison" min="1" value="1"></p>
                        {% if id is not defined %}
                        <p>Série: 
                            <select name="serie" id="serie" class="form-select">
                                <option value="">--Please choose an option--</option>
                                {% for uneSerie in series %}
                                    <option id="{{uneSerie.id}}" value="{{uneSerie.id}}">{{uneSerie.nom}}</option>
                                {% endfor %}   
                            </select>
                        </p>
                        {% endif %}                 
                        <p>Date de diffusion: {{form_widget(formEpisode.date_prem_diff)}}</p>
                        <p>{{form_label(formEpisode.resume,'Résumé:')}} {{form_widget(formEpisode.resume)}}</p>
                        <p><label for="last_season">    
                            <input type="checkbox" id='last_season' name="last_season"> Dernier épisode de la saison ?
                        </label></p>
                        <input id="ID" name="ID" type="hidden"> 
                        <p>{{form_widget(formEpisode.reset)}}</p>   
                </div>                
            </div>
            <div class="modal-footer">
                {{form_widget(formEpisode.Valider)}}
                <a type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="modalNon" >Non</a>
            {{form_end(formEpisode)}}             
            </div>
        </div>
    </div>
</div>
<div class="modal fade  " id="modal_episodes_add" tabindex="-1" data-bs-keyboard="true" 
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >  
        <div class="modal-dialog modal-fullscreen" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle"> Ajout de plusieurs épisodes </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{{path('ajout_episodes')}}" enctype="multipart/form-data">
                        <table class="table table-striped table-hover table-bordered" >
                            <thead class="table-dark">
                                <tr>
                                    <th style="text-align: center; vertical-align: middle; " >Nom</th>
                                    <th style="text-align: center; vertical-align: middle;">Résumé</th>
                                    <th style="text-align: center; vertical-align: middle;">Date</th>
                                    {% if id is not defined %}
                                    <th style="text-align: center; vertical-align: middle;">Série</th>
                                    {% endif %}  
                                    <th style="text-align: center; vertical-align: middle;">Saison</th>
                                </tr>
                            </thead>
                            <tbody id="episodeS">
                                <tr>
                                    <th style="text-align: center; vertical-align: middle;" colspan="5"> 
                                        <button type="button" class="btn btn-success"  name="addS" id="addS"> 
                                            Ajouter une épisode
                                        </button>
                                        <button type="button" class="btn btn-danger"  name="supS" id="supS"> 
                                            Retirer un série
                                        </button>
                                        <input class="btn btn-primary" type="submit" id="submit" name="submit" value="Valider">
                                    </th>
                                </tr>
                                <input type="hidden" id="maxEpisode" name="maxEpisode" value="1">
                                <tr id="row_0">
                                    <th style="text-align: center; vertical-align: middle;">
                                        <input type="text" id="inputNom_0" name="inputNom_0">
                                    </th>  
                                    <th style="text-align: center; vertical-align: middle;">
                                        <textarea id="inputResume_0" name="inputResume_0"
                                        rows="2" cols="45"></textarea>
                                    </th> 
                                    <th style="text-align: center; vertical-align: middle;">
                                        <input type="date" id="inputDate_0" name="inputDate_0">
                                    </th>
                                    {% if id is not defined %}
                                    <th style="text-align: center; vertical-align: middle;">
                                        <select name="inputSerie_0" id="inputSerie_0" class="form-select">
                                            {% for uneSerie in series %}
                                                <option value="{{uneSerie.id}}">{{uneSerie.nom}}</option>
                                            {% endfor %}   
                                        </select>
                                    </th>
                                    {% else %}
                                        <input type="hidden" id="inputSerie_0" name="inputSerie_0" value="{{id}}">
                                    {% endif %}          
                                    <th style="text-align: center; vertical-align: middle;">
                                        <input type="number" id="inputSaison_0" name="inputSaison_0" min="1" value="1">
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="modalNon" >Non</button>             
                </div>
            </div>
        </div>
    </div>
</div>
<ul class="pagination justify-content-center" >
    <nav>
        <ul class="pagination" id="pages">
               
        </ul>
    </nav>
</ul>
    

{% endblock %}


{% block javascripts %}
<script src="/Javascript/episode.js"></script>
<script src="/Javascript/gestion.js"></script>
<script>
    $(document).ready(function(){   
        $.ajax({
            url: "menuJSON?type=episode",
            context: document.body,
            dataType:'json',
            
            
            success: function(element){
                
                window.ListeBase=element
                window.exception=['id',"serieId",'resume']
                
                document.getElementById('titre').value=""
                window.nom=""
                document.getElementById('dateStart').value=""
                document.getElementById('dateEnd').value=""
                document.getElementById('saisonFiltre').value=""
                document.getElementById('serieFiltre').children[0].selected=true
                document.getElementById('checkExport').checked=false
                document.getElementById('checkall').disabled=true
                document.getElementById('checkall').checked=false

              
                window.dateStart=""
                window.dateEnd="" 
                window.saison=""
               
                
                
                
                window.tbody=document.getElementById('episodes')
                window.buttonsRow=tbody.children[0].children[4]
                window.boolExport=false
                console.log("test")
                trie('id',false)
                
            }
        })
    })
    
     $('#checkall').change(function () {
       
        if(this.checked){
            Array.from(window.tbody.children).forEach(function(e){
                e.children[5].children[0].checked=true
                window.listeExport.push(e.children[5].children[0].getAttribute('id'))
            
            })
            
        } 
        else{
            
            Array.from(window.tbody.children).forEach(function(e){
               

                
                if(window.listeExport.includes(e.children[5].children[0].getAttribute('id'))&&e.children[5].children[0].checked){
                    window.listeExport.splice(window.listeExport.indexOf(e.children[5].children[0].getAttribute('id')),1)
                    e.children[5].children[0].checked=false
                }
                
                
            })
            
        }
        
        
   
    });

    

    $('#addS').click(function(){
     
        
        inputMax=document.getElementById('maxEpisode')
        nbEpisode=parseInt(inputMax.getAttribute('value'))
        inputMax.setAttribute('value',nbEpisode+1)
        balise=document.getElementById('episodeS')

       
        
        
        row=document.getElementById('row_0').cloneNode(true)
        row.setAttribute('id','row_'+nbEpisode)

        colNom=row.children[0]
        inputNom=colNom.children[0]
        inputNom.setAttribute('id',"inputNom_"+nbEpisode)
        inputNom.setAttribute('name',"inputNom_"+nbEpisode)
        inputNom.value=""

        colResume=row.children[1]
        
        
        inputResume=colResume.children[0]
        inputResume.setAttribute('id',"inputResume_"+nbEpisode)
        inputResume.setAttribute('name',"inputResume_"+nbEpisode)
        inputResume.value=""
        
        colDate=row.children[2]
        
        
        inputDate=colDate.children[0]
       
        inputDate.setAttribute('id',"inputDate_"+nbEpisode)
        inputDate.setAttribute('name',"inputDate_"+nbEpisode)
        inputDate.value=""
        
        
        colSerie=row.children[3]
        
        select=colSerie.children[0]
        select.setAttribute('id','inputSerie_'+nbEpisode)
        select.setAttribute('name','inputSerie_'+nbEpisode)
       
        
        
        colSaison=row.children[4]
        
        
        inputSaison=colSaison.children[0]
       
        
        inputSaison.setAttribute('id',"inputSaison_"+nbEpisode)
        inputSaison.setAttribute('name',"inputSaison_"+nbEpisode)
    
        balise.appendChild(row)
        
    });
    $('#supS').click(function(){

        maxEpisode=document.getElementById('maxEpisode')
        maxEpisodeInt=parseInt(maxEpisode.getAttribute('value'))
        maxEpisodeInt=maxEpisodeInt-1
        baliseRow=document.getElementById('row_'+maxEpisodeInt.toString())
        
       
       
        if(baliseRow.getAttribute('id')!='row_0'){
            baliseRow.remove()
            maxEpisode.setAttribute('value',maxEpisodeInt)
        }
    })
    $('#serieFiltre').change(function(e){
        console.log(window.listeExport)
        
        window.serie=e.target.value
        
        
        modif(0,10,1,window.ListeBase)
    
    })
    $('#saisonFiltre').change(function(e){
        
        
        window.saison=e.target.value
        
        
        modif(0,10,1,window.ListeBase)
    
    })

    $('#titre').keyup(function(e){
            
        target=e.target.value

        window.nom=target
        
        modif(0,10,1,window.ListeBase)
        
        

    })
    $('#sort_nom').click(function(){
    
        
        if(this.innerHTML=="Default"){
            trie('nom',false)
            this.innerHTML="A...Z"
        }
        else if(this.innerHTML=="A...Z"){
            trie('nom',true)
            this.innerHTML="Z...A"
        }
        else{
                    
            trie('id',false)
            this.innerHTML="Default"
        }
        
    })
    $('#sort_date').click(function(){
    
        
        if(this.innerHTML=="Default"){
            trie('date',false)
            this.innerHTML="A...Z"
        }
        else if(this.innerHTML=="A...Z"){
            trie('date',true)
            this.innerHTML="Z...A"
        }
        else{
                    
            trie('id',false)
            this.innerHTML="Default"
        }
        
    })
    $('#sort_serie').click(function(){
    
        
        if(this.innerHTML=="Default"){
            trie('serieNom',false)
            this.innerHTML="A...Z"
        }
        else if(this.innerHTML=="A...Z"){
            trie('serieNom',true)
            this.innerHTML="Z...A"
        }
        else{
                    
            trie('id',false)
            this.innerHTML="Default"
        }
        
    })
    $('#sort_saison').click(function(){
    
        
        if(this.innerHTML=="Default"){
            trie('saison',false)
            this.innerHTML="A...Z"
        }
        else if(this.innerHTML=="A...Z"){
            trie('saison',true)
            this.innerHTML="Z...A"
        }
        else{
                    
            trie('id',false)
            this.innerHTML="Default"
        }
        
    })
</script>
{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="/CSS/switch.css" type="text/css">{% endblock %}