{% extends 'base.html.twig' %}

{% block title %}Liste des épisodes {% endblock %}

{% block body %}
<style>
    .example-wrapper { font: 18px/1.5 sans-serif; background-color: #F5F5F5;}
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <form  method="get" id="form">
        <table class="table table-striped table-hover table-bordered">
            <thead class="table-dark">
                <tr>
                    <th style="text-align: center; vertical-align: middle; " >Nom</th>
                    <th style="text-align: center; vertical-align: middle;">Date de diffusion</th>
                    {% if not id is defined %}
                        <th style="text-align: center; vertical-align: middle;">Serie </th>
                    {% endif %}
                    <th style="text-align: center; vertical-align: middle;">Saison</th>
                    <th style="text-align: center; vertical-align: middle;" >                         
                        <button type="button" class="btn btn-success"  name="ajout" id="ajout" data-bs-toggle="modal" data-bs-target="#modal_modifier"
                        onclick="modifier()"> 
                            Ajouter un épisode
                        </button>
                        <button class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#modal_supprimer"  onclick="supprimer()">Supprimer tous les épisodes</button>
                        {% if id is defined %}
                            <a class="btn btn-primary" href="{{path('gerer_serie')}}" type="button">Retour</a>
                        {% endif %}
                        <button type="button" class="btn btn-secondary"  name="extract" id="extract" data-bs-toggle="modal" data-bs-target="#modal_supprimer"
                        onclick="exporter()"> 
                            Exporter un Episode
                        </button>
                        <button type="button" class="btn btn-primary"  name="addSModal" id="addSModal" data-bs-toggle="modal" data-bs-target="#modal_episodes_add"> 
                            Ajouter plusieurs épisode
                        </button>
                    </th>
                    <th style="text-align: center; vertical-align: middle;" width="150px">
                        &nbsp;
                        <label for="checkall">
                            <input type="checkbox" id='checkall' name="checkall" > Tout cocher
                        </label>                        
                    </th>
                </tr>
                <tr>
                    <th style="text-align: center; vertical-align: middle; " >
                        {#<select id="ep" class="form-select">
                            {% for uneSerie in series %}
                                <option value="{{uneSerie.nom}}">{{uneSerie.nom}}</option>
                        
                            {% endfor %}
                        </select>
                        <button type="button" class="btn btn-warning"  name="test" id="test">test</button>#}
                    
                    </th>
                    <th style="text-align: center; vertical-align: middle;">Date de diffusion </th>
                    {% if not id is defined %}
                        <th style="text-align: center; vertical-align: middle;">Serie </th>
                    {% endif %}
                    <th style="text-align: center; vertical-align: middle;">Saison</th>
                   
                    
                </tr>
            </thead>
            <tbody id='episodes'>
                
                {% for unEpisode in episodes %}
                <tr>
                    <th style="text-align: center; vertical-align: middle;">{{unEpisode.nom}}</th>
                    <th style="text-align: center; vertical-align: middle;">{{unEpisode.datePremDiff|date("d/m/Y")}}</th>
                    {% if not id is defined %}
                        <th style="text-align: center; vertical-align: middle;">{{unEpisode.saison.serie.nom}}</th>
                    {% endif %}
                    <th style="text-align: center; vertical-align: middle;"> {{unEpisode.saison.numero}} </th>                 
                    <th style="text-align: center; vertical-align: middle;">
                        <button type="button" class="btn btn-warning"  name="{{unEpisode.id}}" id="{{unEpisode.id}}" data-bs-toggle="modal" data-bs-target="#modal_modifier" 
                        onclick="modifier('{{unEpisode.id}}','{{unEpisode.nom}}','{{unEpisode.datePremDiff|date("Y-m-d")}}','{{unEpisode.resume}}','{{unEpisode.saison.serie.id}}','{{unEpisode.saison.id}}')"> 
                            Modifier
                        </button>
                        <button type="button" class="btn btn-danger"  name="sup" id="sup" data-bs-toggle="modal" data-bs-target="#modal_supprimer" onclick="supprimer('{{unEpisode.id}}')">Supprimer</button>
                    </th>
                    <th style="text-align: center; vertical-align: middle;">
                        <input type="checkbox" id='{{unEpisode.id}}' name="{{unEpisode.id}}">
                    </th>
                </tr>
                
                {% endfor %}   
            </tbody>
        </table>
        <div class="modal fade" id="modal_supprimer" tabindex="-1" data-bs-keyboard="true" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
            <div class="modal-dialog" >
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="supModalLongTitle"> Suppression de l'épisode </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <p id="pModalAutre">Êtes-vous sur de vouloir supprimer cette série ?</p>
                        </div>     
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="modalNon">Non</button>
                        
                        <input type="submit" class="btn btn-danger delete"  id="submitAutre" value="Oui">            
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<div class="modal fade" id="modal_modifier" tabindex="-1" data-bs-keyboard="true" 
aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"> Modification de l'épisode </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    {{form_start(formEpisode)}}
                        <p>Nom: {{form_widget(formEpisode.nom)}}</p>
                        <p>Saison: <input id="saison" type="number" name="saison" min="1" value="1"></p>
                        {% if id is not defined %}
                        <p>Série: 
                            <select name="serie" id="serie" class="form-select">
                                <option value="">--Please choose an option--</option>
                                {% for uneSerie in series %}
                                    <option id="{{uneSerie.id}}" value="{{uneSerie.id}}">{{uneSerie.nom}}</option>
                                {% endfor %}   
                            </select>
                        </p>
                        {% endif %}                 
                        <p>Date de diffusion: {{form_widget(formEpisode.date_prem_diff)}}</p>
                        <p>{{form_label(formEpisode.resume,'Résumé:')}} {{form_widget(formEpisode.resume)}}</p>
                        <p><label for="last_season">    
                            <input type="checkbox" id='last_season' name="last_season"> Dernier épisode de la saison ?
                        </label></p>
                        <input id="ID" name="ID" type="hidden"> 
                        <p>{{form_widget(formEpisode.reset)}}</p>   
                </div>                
            </div>
            <div class="modal-footer">
                {{form_widget(formEpisode.Valider)}}
                <a type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="modalNon" >Non</a>
            {{form_end(formEpisode)}}             
            </div>
        </div>
    </div>
</div>
<div class="modal fade  " id="modal_episodes_add" tabindex="-1" data-bs-keyboard="true" 
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >  
        <div class="modal-dialog modal-fullscreen" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle"> Ajout de plusieurs épisodes </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{{path('ajout_episodes')}}" enctype="multipart/form-data">
                        <table class="table table-striped table-hover table-bordered" >
                            <thead class="table-dark">
                                <tr>
                                    <th style="text-align: center; vertical-align: middle; " >Nom</th>
                                    <th style="text-align: center; vertical-align: middle;">Résumé</th>
                                    <th style="text-align: center; vertical-align: middle;">Date</th>
                                    {% if id is not defined %}
                                    <th style="text-align: center; vertical-align: middle;">Série</th>
                                    {% endif %}  
                                    <th style="text-align: center; vertical-align: middle;">Saison</th>
                                </tr>
                            </thead>
                            <tbody id="episodeS">
                                <tr>
                                    <th style="text-align: center; vertical-align: middle;" colspan="5"> 
                                        <button type="button" class="btn btn-success"  name="addS" id="addS"> 
                                            Ajouter une épisode
                                        </button>
                                        <button type="button" class="btn btn-danger"  name="supS" id="supS"> 
                                            Retirer un série
                                        </button>
                                        <input class="btn btn-primary" type="submit" id="submit" name="submit" value="Valider">
                                    </th>
                                </tr>
                                <input type="hidden" id="maxEpisode" name="maxEpisode" value="1">
                                <tr id="row_0">
                                    <th style="text-align: center; vertical-align: middle;">
                                        <input type="text" id="inputNom_0" name="inputNom_0">
                                    </th>  
                                    <th style="text-align: center; vertical-align: middle;">
                                        <textarea id="inputResume_0" name="inputResume_0"
                                        rows="2" cols="45"></textarea>
                                    </th> 
                                    <th style="text-align: center; vertical-align: middle;">
                                        <input type="date" id="inputDate_0" name="inputDate_0">
                                    </th>
                                    {% if id is not defined %}
                                    <th style="text-align: center; vertical-align: middle;">
                                        <select name="inputSerie_0" id="inputSerie_0" class="form-select">
                                            {% for uneSerie in series %}
                                                <option value="{{uneSerie.id}}">{{uneSerie.nom}}</option>
                                            {% endfor %}   
                                        </select>
                                    </th>
                                    {% else %}
                                        <input type="hidden" id="inputSerie_0" name="inputSerie_0" value="{{id}}">
                                    {% endif %}          
                                    <th style="text-align: center; vertical-align: middle;">
                                        <input type="number" id="inputSaison_0" name="inputSaison_0" min="1" value="1">
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="modalNon" >Non</button>             
                </div>
            </div>
        </div>
    </div>
</div>

    

{% endblock %}


{% block javascripts %}
<script>
    
    $('#checkall').change(function () {
        if($( this ).prop( "checked" )){$('input:checkbox').attr('checked','checked');} 
        else $('input:checkbox').removeAttr('checked');
    }); 

    function modifier(id, nom, dateDiff, resume, index, saison){
        
        selectBase=document.getElementById('serie')
        if(id!=null){
            document.getElementById('episode_form_nom').setAttribute('value', nom);
            document.getElementById('episode_form_date_prem_diff').setAttribute('value', dateDiff);
            document.getElementById('episode_form_resume').value= resume;
            document.getElementById('saison').setAttribute('value',saison);
            document.getElementById('ID').setAttribute('value',id);
            document.getElementById('exampleModalLongTitle').innerHTML="Modification de l'épisode"
            
            //console.log(listeOptions)
            
            
            
            if(selectBase!=null){
                Array.from(selectBase.options).forEach(function(e){
                    console.log(e)
                    if(e.getAttribute('id')==index ){
                       
                        e.setAttribute("selected",'selected')
                    }
                    else if($( this ).prop( "selected" )){
                       e.removeAttr("selected")
                    }
                })
                
            }
                      
        }
        else{
            
            document.getElementById('episode_form_nom').setAttribute('value','');
            document.getElementById('episode_form_date_prem_diff').setAttribute('value', '');
            document.getElementById('episode_form_resume').value= '';
            document.getElementById('ID').setAttribute('value','');
            document.getElementById('exampleModalLongTitle').innerHTML="Ajout d'un épisode"
            
            if(selectBase!=null){
                Array.from(selectBase.options).forEach(function(e){
                     if(e.getAttribute('value')=="" ){
                        e.setAttribute("selected",'selected')
                    }
                    else if($( this ).prop( "selected" )){
                        e.removeAttr("selected")
                    }
                })
               
            }
            
            
        }
        
    }
   

    function supprimer(Id){
        if(Id==null){
         
            document.getElementById('form').action='/supprimer_episodes';
        }
        else{
          
            document.getElementById('form').action='/supprimer_episode/'+Id;
        }
    }

    function exporter(Id,fic){
        document.getElementById('pModalAutre').innerHTML="Exporter ces épisodes";
        document.getElementById('supModalLongTitle').innerHTML="Exportation"
        document.getElementById('submitAutre').setAttribute('class','btn btn-primary');
        if(fic==null){
            
            document.getElementById('form').action='/export_episode/1';
            
        }
        else{
           
            document.getElementById('form').action='/export_episode/'+Id;
        }
        
    }

    $('#addS').click(function(){
     
        
        inputMax=document.getElementById('maxEpisode')
        nbEpisode=parseInt(inputMax.getAttribute('value'))
        inputMax.setAttribute('value',nbEpisode+1)
        balise=document.getElementById('episodeS')
        row=document.createElement('tr')
        

        row.setAttribute('id',"row_"+nbEpisode)
        
        colNom=document.createElement('th')
        colNom.style="text-align: center; vertical-align: middle;"
        
        inputNom=document.createElement('input')
        inputNom.type="text"
        inputNom.setAttribute('id',"inputNom_"+nbEpisode)
        inputNom.setAttribute('name',"inputNom_"+nbEpisode)

        colNom.appendChild(inputNom)
        row.appendChild(colNom)

        colResume=document.createElement('th')
        colResume.style="text-align: center; vertical-align: middle;"
        
        inputResume=document.createElement('textarea')
        inputResume.rows=2
        inputResume.cols=45
        inputResume.setAttribute('id',"inputResume_"+nbEpisode)
        inputResume.setAttribute('name',"inputResume_"+nbEpisode)
        
        colResume.appendChild(inputResume)
        row.appendChild(colResume)

        colDate=document.createElement('th')
        colDate.style="text-align: center; vertical-align: middle;"
        
        inputDate=document.createElement('input')
        inputDate.type="date"
        inputDate.setAttribute('id',"inputDate_"+nbEpisode)
        inputDate.setAttribute('name',"inputDate_"+nbEpisode)
        
        colDate.appendChild(inputDate)
        row.appendChild(colDate)

        selectBase=document.getElementById('inputSerie_0')
        
        colSerie=document.createElement('th')
        colSerie.style="text-align: center; vertical-align: middle;"
        console.log(selectBase.tagName)
        if(selectBase.tagName=="SELECT"){
            select=document.createElement('select')
            for (i = 0; i < selectBase.options.length; i++) {
            select[select.options.length]=new Option(selectBase.options[i].label,selectBase.options[i].value)
            }
            select.setAttribute('id',"inputSerie_"+nbEpisode)
            select.setAttribute('name',"inputSerie_"+nbEpisode)
            select.setAttribute('class',"form-select")
            colSerie.appendChild(select)
        
            row.appendChild(colSerie)
        }
        else{
            
            select=document.createElement('input')
            select.setAttribute('id','inputSerie_'+nbEpisode)
            select.setAttribute('name','inputSerie_'+nbEpisode)
            select.setAttribute('type',"hidden")
            select.setAttribute('value',selectBase.getAttribute('value'))
            row.appendChild(select)
        }
        
        
        colSaison=document.createElement('th')
        colSaison.style="text-align: center; vertical-align: middle;"
        
        inputSaison=document.createElement('input')
        inputSaison.type="number"
        inputSaison.setAttribute('min',1)
        inputSaison.setAttribute('value',1)
        inputSaison.setAttribute('id',"inputSaison_"+nbEpisode)
        inputSaison.setAttribute('name',"inputSaison_"+nbEpisode)
        
        colSaison.appendChild(inputSaison)
        row.appendChild(colSaison)

        
        
        
        
       

       
        
        
        
        
      
        balise.appendChild(row)
        
        
        
        
       
        
    });
    $('#supS').click(function(){

        maxEpisode=document.getElementById('maxEpisode')
        maxEpisodeInt=parseInt(maxEpisode.getAttribute('value'))
        maxEpisodeInt=maxEpisodeInt-1
        baliseRow=document.getElementById('row_'+maxEpisodeInt.toString())
        
       
       
        if(baliseRow.getAttribute('id')!='row_0'){
            baliseRow.remove()
            maxEpisode.setAttribute('value',maxEpisodeInt)
        }
    })
    $('#ep').change(function(e){
        
        nomSerie=e.target.options[e.target.selectedIndex].value
        episodes=document.getElementById('episodes')
        
        Array.from(episodes.children).forEach(function(e){
            console.log(e.children[2].innerHTML)
            //if(e.children[2])
        })
    
    })
</script>
{% endblock %}