{% extends 'base.html.twig' %}

{% block title %}Liste des séries{% endblock %}

{% block body %}
<style>
    .example-wrapper { font: 18px/1.5 sans-serif; background-color: #F5F5F5;}
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <table class="table table-striped table-hover table-bordered">
        <thead class="table-dark">
            <tr>
                <th style="text-align: center; vertical-align: middle;">Nom <a class="link-primary" id="sort_nom">Default</a></th>
                <th style="text-align: center; vertical-align: middle;">Date de diffusion <a class="link-primary" id="sort_date">Default</a></th>
                <th style="text-align: center; vertical-align: middle;">Nombre de saison <a class="link-primary" id="sort_saison">Default</a> </th>
                <th style="text-align: center; vertical-align: middle;">Nombre d'épisode <a class="link-primary" id="sort_nbEp">Default</a></th>
                <th style="text-align: center; vertical-align: middle;">
                    <button type="button" class="btn btn-success"  name="ajout" id="ajout" data-bs-toggle="modal" data-bs-target="#modal_modifier"
                        onclick="modifier()"> 
                         Ajouter une série
                    </button>
                    <button type="button" class="btn btn-danger"  name="sup" id="sup" data-bs-toggle="modal" data-bs-target="#modal_supprimer" onclick="supprimer()"> Supprimer plusieurs séries</button>
                    <button type="button" class="btn btn-secondary"  name="extract" id="extract" data-bs-toggle="modal" data-bs-target="#modal_supprimer"
                    onclick="exporter()"> 
                         Exporter une série
                    </button>
                    <button type="button" class="btn btn-primary"  name="addSModal" id="addSModal" data-bs-toggle="modal" data-bs-target="#modal_series_add"> 
                        Ajouter plusieurs séries
                    </button>
                </th>
                <th style="text-align: center; vertical-align: middle;" >
                    <label for="checkall">
                        <input type="checkbox" id='checkall' name="checkall" > Tout cocher
                    </label>     
                </th>
            </tr>
            <tr>
                <th style="text-align: center; vertical-align: middle;">
                    <input type="text" id="titre" name="titre">
                </th>
                <th style="text-align: center; vertical-align: middle;">
                    <input type="date" id="dateStart" name="dateStart">
                    <input type="date" id="dateEnd" name="dateEnd">
                </th>
                <th style="text-align: center; vertical-align: middle;">
                    <input type="number" id="saison" name="saison" min="1">
                </th>
                <th style="text-align: center; vertical-align: middle;">
                    <input type="number" id="episodes" name="episodes" min="0">
                </th>
                <th style="text-align: center; vertical-align: middle;" >      
                </th>
                <th style="text-align: center; vertical-align: middle;" >
                    <label class="switch">
                        <input type="checkbox" id="checkExport" name="checkExport" onclick="modExport()">
                        <span class="slider round"></span>
                    </label>
                </th> 
            </tr>
        </thead>
        <tbody id="serie">
            {% for uneSerie in serie %}
            <tr>
                <td style="text-align: center; vertical-align: middle;">{{uneSerie.nom}}</td>
                <td style="text-align: center; vertical-align: middle;">{{uneSerie.dateDiff|date("d/m/Y")}}</td>
                <td style="text-align: center; vertical-align: middle;"> {{uneSerie.saisons|length}} </td>
                {% set nbEP = 0 %}
                {% for uneSaison in uneSerie.saisons %}      
                    {% set nbEP = nbEP + uneSaison.episodes|length  %}
                {% endfor %}
                <td style="text-align: center; vertical-align: middle;"> {{nbEP}} </td>    
                <td style="text-align: center; vertical-align: middle;"> 
                    <button type="button" class="btn btn-warning"  name="{{uneSerie.id}}" id="{{uneSerie.id}}" data-bs-toggle="modal" data-bs-target="#modal_modifier" onclick="modifier('{{uneSerie.nom}}','{{uneSerie.dateDiff|date("Y-m-d")}}','{{uneSerie.resume}}','{{uneSerie.urlBa}}','{{uneSerie.affiche}}','{{uneSerie.id}}')"> 
                        Modifier
                    </button>
                    <button type="button" class="btn btn-danger"  name="supSerie" id="supSerie" data-bs-toggle="modal" data-bs-target="#modal_supprimer" onclick="supprimer('{{uneSerie.id}}')">Supprimer</button>
                    <a type="button" class="btn btn-primary" href="{{path('gerer_episode',{'id': uneSerie.id})}}">Gerer les épisodes</a>
                </td>
                <td style="text-align: center; vertical-align: middle;"><input type="checkbox" id='{{uneSerie.id}}' name="{{uneSerie.id}}"></td>
            </tr> 
            {% endfor %}
        </tbody>
    </table>
    <form  method="get" id="form">    
        <div class="modal fade" id="modal_supprimer" tabindex="-1" data-bs-keyboard="false" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
            <div class="modal-dialog" >
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="supModalLongTitle"> Suppression de la série </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <p id="pModalAutre">Êtes-vous sur de vouloir supprimer la ou les série(s) ?</p>
                        </div>     
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="modalNon">Non</button>  
                        <input type="submit" class="btn btn-danger delete"  id="submitAutre" value="Oui">
                        <input type="hidden" class="btn btn-danger delete"  id="type" name="type" value="serie">
                    </div>      
                </div>
            </div>
        </div>
    </form> 
</div>
<div class="modal fade" id="modal_modifier" tabindex="-1" data-bs-keyboard="true" 
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >  
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle"> Modification de la série </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row" >
                            <div class="col-md-4" style="width: 500px;">
                                {{form_start(formSerie)}}
                                    <p>Nom: {{form_widget(formSerie.nom)}}</p>                   
                                    <p>Date de diffusion: {{form_widget(formSerie.date_diff)}}</p>
                                    <p>{{form_label(formSerie.resume,'Résumé:')}} {{form_widget(formSerie.resume)}}</p>
                                    <p>{{form_label(formSerie.url_ba,'Lien de la bande annonce: ')}} {{form_widget(formSerie.url_ba)}}</p>
                                    <p>Affiche: {{form_widget(formSerie.photo)}}</p>
                                    
                                    <div id='perso'>
                                        <p>
                                            <button type="button" class="btn btn-success" name="add" id="add" onclick="addPerso('solo')"> 
                                                Ajouter
                                            </button>
                                            <button type="button" class="btn btn-danger" name="sup" id="sup" onclick="supprimerPerso('solo')"> 
                                                Retirer
                                            </button>
                                        </p>
                                        <p id="perso_0">
                                            <select name="acteur_0" id="acteur_0">
                                                <option value="">--Please choose an option--</option>
                                                {% for unActeur in acteurs %}
                                                    <option value="{{unActeur.id}}">{{unActeur.prenom}} {{unActeur.nom}}</option>
                                                {% endfor %}   
                                            </select>
                                            <input type="text" id="persoNom_0" name="persoNom_0"placeholder="Nom du personnage">
                                        </p>
                                    </div>
                                    {{form_widget(formSerie.reset)}}
                                    <input id="ID" name="ID" type="hidden">
                            </div>
                            <div class="col-md-6">
                                <img id="image"   alt="affiche"  style="max-width: 500px; max-heigth: 200px;">
                            </div>
                        </div>
                    </div>                
                </div>
                <div class="modal-footer">
                    {{form_widget(formSerie.Valider)}}
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="modalNon" >Non</button>
                {{form_end(formSerie)}}              
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade  " id="modal_series_add" tabindex="-1" data-bs-keyboard="true" 
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >  
        <div class="modal-dialog modal-fullscreen" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle"> Ajout de plusieurs séries </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="ajout/series" enctype="multipart/form-data">
                        <table class="table table-striped table-hover table-bordered" >
                            <thead class="table-dark">
                                <tr>
                                    <th style="text-align: center; vertical-align: middle; " >Nom</th>
                                    <th style="text-align: center; vertical-align: middle;">Résumé</th>
                                    <th style="text-align: center; vertical-align: middle;">Date</th>
                                    <th style="text-align: center; vertical-align: middle;">Saison</th>
                                    <th style="text-align: center; vertical-align: middle;">Affiche</th>
                                    <th style="text-align: center; vertical-align: middle;">Lien de la Bande Annonce</th>
                                    <th style="text-align: center; vertical-align: middle;">Personnage</th>
                                </tr>
                            </thead>
                            <tbody id="persoS">
                                <tr>
                                    <th style="text-align: center; vertical-align: middle;" colspan="7"> 
                                        <button type="button" class="btn btn-success"  name="addS" id="addS"> 
                                            Ajouter une série
                                        </button>
                                        <button type="button" class="btn btn-danger"  name="supS" id="supS"> 
                                            Retirer une série
                                        </button>
                                        <input class="btn btn-primary" type="submit" id="submit" name="submit" value="Valider">
                                    </th>
                                </tr>
                                <input type="hidden" id="maxSerie" name="maxSerie" value="1">
                                <tr id="row_0">
                                    <th style="text-align: center; vertical-align: middle;">
                                        <input type="text" id="inputNom_0" name="inputNom_0">
                                    </th>  
                                    <th style="text-align: center; vertical-align: middle;">
                                        <textarea id="inputResume_0" name="inputResume_0"
                                        rows="2" cols="45"></textarea>
                                    </th> 
                                    <th style="text-align: center; vertical-align: middle;">
                                        <input type="date" id="inputDate_0" name="inputDate_0">
                                    </th>
                                    <th style="text-align: center; vertical-align: middle;">
                                        <input type="number" id="inputSaison_0" name="inputSaison_0" min="1" value="1">
                                    </th>
                                    <th style="text-align: center; vertical-align: middle;">
                                        <input type="file" id="inputFile_0" name="inputFile_0"accept="image/png, image/jpeg">
                                    </th>
                                    <th style="text-align: center; vertical-align: middle;">
                                        <input type="text" id="inputURL_0" name="inputURL_0">
                                    </th>
                                    <th style="text-align: center; vertical-align: middle; ">
                                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                        aria-expanded="false" href="#collapsePerso_0" aria-controls="collapsePerso_0">
                                            Personnages
                                        </button>
                                        <button type="button" class="btn btn-success" name="add" id="add" onclick="addPerso('multiple','0')"> 
                                            Ajouter
                                        </button>
                                        <button type="button" class="btn btn-danger" name="sup" id="sup" onclick="supprimerPerso('multiple','0')"> 
                                                Retirer
                                        </button>
                                    </th>
                                </tr>
                               
                                <tr class="collapse" id="collapsePerso_0">
                                    <th style="text-align: center; vertical-align: middle;" colspan="7">
                                        
                                        <p id="persoTab_0_0">
                                            <select name="acteur_0_0" id="acteur_0_0">
                                                {% for unActeur in acteurs %}
                                                    <option value="{{unActeur.id}}">{{unActeur.prenom}} {{unActeur.nom}}</option>
                                                {% endfor %}   
                                            </select>
                                            <input type="text" id="persoNom_0_0" name="persoNom_0_0"placeholder="Nom du personnage"> 
                                        </p>
                                    </th>
                                    <input type="hidden" id="nbPerso_0" name="nbPerso_0" value="1">
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="modalNon" >Non</button>             
                </div>
            </div>
        </div>
    </div>
</div>
<ul class="pagination justify-content-center" >
    <nav>
        <ul class="pagination" id="pages">
               
        </ul>
    </nav>
</ul>
{% endblock %}


{% block javascripts %}
<script src="/Javascript/serie.js"></script>
<script src="/Javascript/gestion.js"></script>
<script>
    $(document).ready(function(){
        $.ajax({
            url: "menuJSON?type=serie",
            context: document.body,
            dataType:'json',
            
            
            success: function(element){
                
                window.ListeBase=element
                window.exception=['id',"resume",'affiche','Ba']
                
                document.getElementById('titre').value=""
                window.nom=""
                document.getElementById('dateStart').value=""
                document.getElementById('dateEnd').value=""
                document.getElementById('saison').value=""
                document.getElementById('episodes').value=""
                window.dateStart=""
                window.dateEnd="" 
                window.saison=""
                window.episodes=""
                document.getElementById('checkExport').checked=false
                document.getElementById('checkall').disabled=true
                document.getElementById('checkall').checked=false
                
                
                window.tbody=document.getElementById('serie')
                window.buttonsRow=tbody.children[0].children[4]
                trie('id',false)
                
            }
        })


    })

    $('#checkall').change(function () {
       
    
        if(this.checked){
            Array.from(window.tbody.children).forEach(function(e){
                e.children[5].children[0].checked=true
                window.listeExport.push(e.children[5].children[0].getAttribute('id'))
            
            })
            
        } 
        else{
           Array.from(window.tbody.children).forEach(function(e){
               

               
                if(window.listeExport.includes(e.children[5].children[0].getAttribute('id'))&&e.children[5].children[0].checked){
                    window.listeExport.splice(window.listeExport.indexOf(e.children[5].children[0].getAttribute('id')),1)
                    e.children[5].children[0].checked=false
                }
                
                
            })
        }
   
    });

    $('#addS').click(function(){
 
    
        inputMax=document.getElementById('maxSerie')
        nbSerie=parseInt(inputMax.getAttribute('value'))
        inputMax.setAttribute('value',nbSerie+1)
        balise=document.getElementById('persoS')
        row=document.getElementById('row_0').cloneNode(true)
        rowPerso=document.getElementById('collapsePerso_0').cloneNode(false)

        row.setAttribute('id',"row_"+nbSerie)
        rowPerso.setAttribute('id',"collapsePerso_"+nbSerie)
        rowPerso.setAttribute('class',"collapse")
        
        colNom=row.children[0]
        
        
        inputNom=colNom.children[0]
        
        inputNom.setAttribute('id',"inputNom_"+nbSerie)
        inputNom.setAttribute('name',"inputNom_"+nbSerie)
        inputNom.value=""

        

        colResume=row.children[1]
    
        
        inputResume=colResume.children[0]
    
        inputResume.setAttribute('id',"inputResume_"+nbSerie)
        inputResume.setAttribute('name',"inputResume_"+nbSerie)
        inputResume.value=""
        
    

        colDate=row.children[2]
        
        
        inputDate=colDate.children[0]
        
        inputDate.setAttribute('id',"inputDate_"+nbSerie)
        inputDate.setAttribute('name',"inputDate_"+nbSerie)
        inputDate.value=""

        
        
        colSaison=row.children[3]
        
        inputSaison=colSaison.children[0]
    
        inputSaison.setAttribute('id',"inputSaison_"+nbSerie)
        inputSaison.setAttribute('name',"inputSaison_"+nbSerie)
        inputSaison.value=""
        

        colFichier=row.children[4]

        inputFile=colFichier.children[0]
        
        inputFile.setAttribute('id',"inputFile_"+nbSerie)
        inputFile.setAttribute('name',"inputFile_"+nbSerie)
        inputFile.value=""

        colBa=row.children[5]
        
        inputBa=colBa.children[0]
        inputBa.setAttribute('id',"inputURL_"+nbSerie)
        inputBa.setAttribute('name',"inputURL_"+nbSerie)
        inputBa.value=""

        
        
        colPerso=row.children[6]
        
        ButtonPerso=colPerso.children[0]
        
        ButtonPerso.setAttribute('aria-controls',"collapsePerso_"+nbSerie)
        ButtonPerso.setAttribute('href',"#collapsePerso_"+nbSerie)
        

        ButtonPersoAjout=colPerso.children[1]
        ButtonPersoAjout.setAttribute('onclick',"addPerso('multiple',"+nbSerie+')')
        

        ButtonPersoRetirer=colPerso.children[2]
        ButtonPersoRetirer.setAttribute('onclick',"supprimerPerso('multiple',"+nbSerie+')')
    
        
        
        rowPerso=document.getElementById('row_0').parentElement.children[3].cloneNode(true)
        rowPerso.setAttribute('id','collapsePerso_'+nbSerie)
        rowPerso.children[1].setAttribute('id','nbPerso_'+nbSerie)
        rowPerso.children[0].children[0].setAttribute('id','persoTab_'+nbSerie+'_0')
        rowPerso.children[0].children[0].children[0].setAttribute('id','acteur_'+nbSerie+'_0')
        rowPerso.children[0].children[0].children[1].setAttribute('id','persoNom_'+nbSerie+'_0')
    
        balise.appendChild(row)
        balise.appendChild(rowPerso) 
    });
    $('#supS').click(function(){

        maxSerie=document.getElementById('maxSerie')
        maxSerieInt=parseInt(maxSerie.getAttribute('value'))
        maxSerieInt=maxSerieInt-1
        baliseRow=document.getElementById('row_'+maxSerieInt.toString())
        balise=document.getElementById('collapsePerso_'+maxSerieInt.toString())
    
    
        if(baliseRow.getAttribute('id')!='row_0' || balise.getAttribute('id')!='collapsePerso_0'){
            baliseRow.remove()
            balise.remove()
            maxSerie.setAttribute('value',maxSerieInt)
        }
    })

    $('#titre').keyup(function(e){
            
        target=e.target.value

        window.nom=target
        
        modif(0,10,1,window.ListeBase)
        
        

    })

    $('#dateStart').change(function(e){
            
        target=e.target.value
        date=new Date(target)
        window.dateStart=date
        subDate=target.split('-')
        window.date=subDate[2]+'/'+subDate[1]+'/'+subDate[0]
        
        //console.log(date)

        modif(0,10,1,window.ListeBase)

    })
    $('#saison').change(function(e){
            
        target=e.target.value
        window.saison=target
        
        
        //console.log(date)

        modif(0,10,1,window.ListeBase)

    })
    $('#episodes').change(function(e){
            
        target=e.target.value
        window.episodes=target
        
        
        //console.log(date)

        modif(0,10,1,window.ListeBase)

    })
    $('#sort_nom').click(function(){
    
        
        if(this.innerHTML=="Default"){
            trie('nom',false)
            this.innerHTML="A...Z"
        }
        else if(this.innerHTML=="A...Z"){
            trie('nom',true)
            this.innerHTML="Z...A"
        }
        else{
                    
            trie('id',false)
            this.innerHTML="Default"
        }
        
    })
    $('#sort_date').click(function(){
    
        
        if(this.innerHTML=="Default"){
            trie('date',false)
            this.innerHTML="A...Z"
        }
        else if(this.innerHTML=="A...Z"){
            trie('date',true)
            this.innerHTML="Z...A"
        }
        else{
                    
            trie('id',false)
            this.innerHTML="Default"
        }
        
    })
    $('#sort_nbEp').click(function(){
    
        
        if(this.innerHTML=="Default"){
            trie('episodes',false)
            this.innerHTML="A...Z"
        }
        else if(this.innerHTML=="A...Z"){
            trie('episodes',true)
            this.innerHTML="Z...A"
        }
        else{
                    
            trie('id',false)
            this.innerHTML="Default"
        }
        
    })
    $('#sort_nbEp').click(function(){
    
        
        if(this.innerHTML=="Default"){
            trie('saison',false)
            this.innerHTML="A...Z"
        }
        else if(this.innerHTML=="A...Z"){
            trie('saison',true)
            this.innerHTML="Z...A"
        }
        else{
                    
            trie('id',false)
            this.innerHTML="Default"
        }
        
    })
</script>

{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="CSS/switch.css" type="text/css">{% endblock %}